// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$clr-aqua:  #7FDBFF;
$clr-blue:  #0074D9;
$clr-navy:  #001F3F;
$clr-teal:  #39CCCC;

$clr-green: #4caf50 ; //#2ECC40 - original color
$clr-olive: #3D9970;
$clr-lime:  #01FF70;
$clr-yellow:  #FFDC00;

$clr-orange:  #FF851B;
$clr-red:     #FF4136; //#ee2333 
$clr-fuchsia: #F012BE;
$clr-purple:  #B10DC9;
$clr-maroon:  #85144B; //#941b0c

$clr-white:  #FFFFFF;
$clr-silver: #DDDDDD;
$clr-gray:   #AAAAAA;
$clr-black:  #111111;
