// Image
// ––––––––––––––––––––––––––––––––––––––––––––––––––

img {
  max-width: 100%;
  margin: 1rem auto;
  display: block;
  border: 1px solid $clr-gray;
  padding: 0.2rem;
  box-shadow: 0.2rem 0.4rem lighten($clr-gray, 0.5);

  &.no-brdr {
    border: none;
    padding: 0;
  }

  &.no-shdw {
    box-shadow: none;
  }
}
