<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Professional Association of Emergency Surgical Officers in Ethiopia. Saving lives through emergency obstetric, surgical and trauma care. ">
<title>{% if page.title == "Home" %} {{ site.title }} &middot; {{ site.tagline }}
    {% else %} {{ page.title }} &middot; {{ site.title }} {% endif %}
</title>
<link rel="ieso_logo" sizes="144x144" href="{{ site.baseurl }}/public/ieso_logo.png">
<link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
<link rel="stylesheet" href="/public/css/pure-min.css">
<!--[if lte IE 8]>
<link rel="stylesheet" href="/public/css/side-menu-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="/public/css/side-menu.css">
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
<![endif]-->
</head>