/* ==========================================================================
   Grey Theme
   ========================================================================== */

.t-purple {

  .c-navigation,
  .c-header {
    background: $c__deep-purple;
  }

  .c-article__main a:not(.c-btn) {
    color: $c__deep-purple;
  }

  .c-footer {
    background: $c__light-grey;
  }

  .c-footer a {
    color: $c__deep-purple;
  }

  .c-form {
    border-color: $c__deep-purple;

  }

  .c-btn {
    background: $c__deep-purple;
  }

  .c-btn:hover {
    background:  $c__purple;
  }
}
