
<!doctype html>
<html lang="en">
    {% include head.html %}
    
<body>

<div id="layout">
    
    {% include sidebar.html %}

    <div id="main">
        <div class="header">
            <h1><a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a></h1>
            <h2>{{ site.tagline }}</h2>
        </div>

        <div class="content">
           {{ content }}           
        </div>
    </div>
</div>
  {% include footer.html %}
<script src="/public/js/ui.js"></script>
</body>
</html>
