---
layout: page
---
{% if page.fulltitle %}
<h3>{{page.fulltitle}}</h3>
{% else %}
<h3>{{page.title}}</h3>
{% endif %}

<p>
    {% if page.previous %}
    <a href="{{page.previous.url}}">&laquo;</a>
    {% else %}
    &nbsp;
    {% endif %}

    &nbsp;&nbsp;
    <em>{{page.date | date: "%b %d, %Y" }}</em>
    {% if page.next %}
    &nbsp;&nbsp;
    <a href="{{page.next.url}}">&raquo;</a>
    {% endif %}
    <br>
    {% if page.author %}
    {% assign author = site.data.members[page.author] %}
    {% if author %}
    <em>By: {{ author.name }}</em>
    {% else %}
    <em>By: {{ page.author }}</em>
    {% endif %}
    {% endif %}
</p>


{{ content }}